[user]
	name = Joris Blaak
	email = joris@label305.com
[alias]
	fb = !sh -c 'git branch feature_$1 && git checkout feature_$1' -
	hb = !sh -c 'git branch hotfix_$1 && git checkout hotfix_$1' -
	hf = !sh -c 'git branch hotfix_$1 && git checkout hotfix_$1' -
	f = !sh -c 'git branch fix_$1 && git checkout fix_$1' -
	rmsubmodule = !sh -c 'git submodule deinit $1 && git rm $1' -
	amend = !sh -c 'git commit -a --amend' -
	poof = !sh -c \"git remote prune origin && git branch --merged | grep  -v '\\*\\|master\\|dev\\|release\\|android\\|stable' | xargs -n 1 git branch -d\"
[push]
	default = matching

